.user-modal
  .modal-header
    button.close(type="button" ng-click="vm.close()") &times;
    h4.modal-title {{vm.user.name}}
  .modal-body
    dl.dl-horizontal
      dt E-post
      dd: a(ng-href="mailto:{{vm.user.email}}") {{vm.user.email}}
      dt Användarnamn
      dd {{vm.user.username}}
      dt Adress
      dd
        | {{vm.user.address.street}}, {{vm.user.address.suite}}
        br
        | {{vm.user.address.zipcode}} {{vm.user.address.city}}
      dt Telefonnummer
      dd {{vm.user.phone}}
      dt Webbsida
      dd: a(ng-href="{{'http://' + vm.user.website}}") {{vm.user.website}}
      dt Företag
      dd: span(tooltip="{{vm.user.company.catchPhrase}}")
        | {{vm.user.company.name}} &ndash; #[i: {{vm.user.company.bs}}]
  .modal-footer
    button.btn.btn-default(type="button" ng-click="vm.close()") Stäng
