doctype html
html(ng-strict-di ng-app="dweb")
  head
    meta(charset="utf-8")
    base(href="/")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="description" content="")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title DWEB
    link(rel="stylesheet" href="bundle.css")
  body(notify)
    .container
      h1.page-header
        i.fa.fa-hand-spock-o 
        | DepartmentWeb 2000
      ui-view
    script(src="bundle.js")
